langchain>=0.2.14,<0.3
langchain-community>=0.2.12,<0.3
langchain-groq>=0.1.9,<0.2
unstructured>=0.14.6,<0.15
selenium>=4.21.0,<5
chromadb>=0.4.0,<0.5
streamlit>=1.32.0,<1.33
pandas>=2.0.2,<2.1
python-dotenv>=1.0.0,<2.0
textblob>=0.15.3,<0.16
